@using APP_LAWYER.WEB.Areas.Admin.Models
@model IEnumerable<APP_LAWYER.DAL.Entities.DocumentTemplate>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create", "DocumentTemplate")" class="btn btn-primary">Create New Template</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Имя подкатегории</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var template in Model)
    {
        <tr>
            <td>@template.Title</td>
            <td>@Html.Raw(template.Description.TruncateAtWord(10))</td>
            <td>
                <div class="d-flex">
                    <a href="@Url.Action("Update", "DocumentTemplate", new { id = template.Id })" class="btn btn-primary mr-2">Редактировать</a>
                    <a href="@Url.Action("Delete", "DocumentTemplate", new { id = template.Id })" class="btn btn-danger">Удалить</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>