@model CategoryDetailsViewModel


<style>
    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<section>
    <header style="background-color: #808080; color: white;">
        <h1>@Model.Category.Name</h1>
        <div class="row">
            <div class="col-md-6">
                <figure style="max-height: 500px; overflow: hidden;">
                    <picture>
                        <source media="(max-width: 768px)" srcset="@Model.Category.ImageUrlSmall">
                        <source media="(max-width: 1200px)" srcset="@Model.Category.ImageUrlMedium">
                        <img src="@Model.Category.ImageUrl" alt="@Model.Category.Name" class="img-fluid" style="width: 100%; height: auto;"/>
                    </picture>
                </figure>
            </div>
            <div class="col-md-6" style="max-height: 500px; overflow-y: auto;">
                <p>@Model.Category.FullDescription</p>
            </div>
        </div>
    </header>

    <div class="row">
        @foreach (var subcategory in Model.Subcategories)
        {
            <article class="col-sm-4">
                <div class="card shadow-sm mt-4 bg-light d-flex flex-column">
                    <img src="@subcategory.Image" alt="@subcategory.Description" class="card-img-top img-fluid"/>
                    <div class="card-body card-content d-flex flex-column">
                        <h5 class="card-title text-muted">@subcategory.Name</h5>
                        <p class="card-text text-muted flex-grow-1">@subcategory.Description</p>
                        <a href="@Url.Action("Index", "Subcategory", new { slug = subcategory.Slug })" class="btn btn-primary mt-auto">Подробнее</a>
                    </div>
                </div>
            </article>
        }
    </div>
</section>

@section Scripts {
    <script>
            $(document).ready(function() {
                var maxHeight = 0;
                $(".card").each(function(){
                    if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
                });
                $(".card").height(maxHeight);
            });
        </script>
}