@model HomeViewModel

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Subcategories.Count(); i++)
        {
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
        }
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < Model.Subcategories.Count(); i++)
        {
            var item = Model.Subcategories.ElementAt(i);
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@item.Image" class="d-block w-100" alt="@item.Description">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 0, 0, 0.5);">
                    <h5>@item.Name</h5>
                    <p>@Html.Raw(item.Description)</p>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </a>
</div>
<div class="row">
    @foreach (var category in Model.Categories)
    {
        <div class="col-sm-4">
            <div class="card shadow mt-4 bg-secondary bg-light">
                <div class="card-body card-content d-grid">
                    <h5 class="card-title text-muted">@category.Name</h5>
                    <p class="card-text text-muted">@category.Description</p>
                    <a href="@Url.Action("Details", "Category", new { slug = category.Slug })" class="btn btn-primary">Подробнее</a>
                    @* <a href="@Url.Action("Details", "Category", new { id = category.Id })" class="btn btn-primary">Подробнее</a> *@
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        $(document).ready(function() {
            var maxHeight = 0;
            $(".card-content").each(function(){
                if ($(this).height() > maxHeight) { maxHeight = $(this).height(); }
            });
            $(".card-content").height(maxHeight);
        });
    </script>
}