@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model APP_LAWYER.DAL.Entities.Subcategory

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

@section MetaTags {
    <meta name="title" content="@Model.MetaTitle">
    <meta name="keywords" content="@Model.MetaKeywords">
    <meta name="description" content="@Model.MetaDescription">
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>@Model.Name</h2>
            @{
                int i = 0;
                foreach (var subcategoryVideo in Model.SubcategoryVideos)
                {
                    <div class="video" style="display: @(i == 0 ? "block" : "none")" data-description="@subcategoryVideo.Video.Description">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@subcategoryVideo.Video.YoutubeId" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <h4>@subcategoryVideo.Video.Title</h4>
                    </div>
                    i++;
                }
            }
            <button id="nextVideo" class="btn btn-primary">Next Video</button>
            <button id="stopVideo" class="btn btn-primary">Stop Video</button>
        </div>
        <div class="col-md-4">
            <ul id="videoList" class="list-group">
                @for (int j = 0; j < Model.SubcategoryVideos.Count; j++)
                {
                    var subcategoryVideo = Model.SubcategoryVideos[j];
                    <li class="list-group-item">
                        <a href="#" class="video-item" data-index="@j">@subcategoryVideo.Video.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание дела</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="content-tab" data-bs-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">Юридическое заключение и законодательство</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="video-description-tab" data-bs-toggle="tab" href="#video-description" role="tab" aria-controls="video-description" aria-selected="false">Образец документа</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="comments-tab" data-bs-toggle="tab" href="#comments" role="tab" aria-controls="comments" aria-selected="false">Комментарий</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
            <p>@Model.FullDescription</p>
        </div>
        <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
            <p>@Model.Content</p>
        </div>
        <div class="tab-pane fade" id="video-description" role="tabpanel" aria-labelledby="video-description-tab">
            <p id="videoDescription"></p>
        </div>

        <div class="tab-pane fade" id="comments" role="tabpanel" aria-labelledby="comments-tab">
            <div class="container">
                <!-- Add comment form -->
                <h4>Оставьте вопрос:</h4>
                <form id="createCommentForm" method="post" action="/Comment/Create">
                    <div class="form-group">
                        <label for="commentContent">Вопрос:</label>
                        <textarea class="form-control" id="commentContent" name="Content" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="SubcategoryId" value="@Model.Id"/>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
                <!-- Existing comments -->
                <!-- Existing comments -->
                <h3>Вопросы и ответы:</h3>
                <div id="commentContainer">

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(function () {
            var currentVideoIndex = 0;
            var videos = Model.SubcategoryVideos;

            function updateVideoDescription() {
                var description = $(videos[currentVideoIndex]).data("description");
                $("#videoDescription").text(description);
            }
            $(document).ajaxComplete(function() {
                $(".replyButton").off('click').click(function() {
                    $(this).next(".replies").toggle();
                });
            });

            $("#nextVideo").click(function () {
                $.ajax({
                        url: '/Subcategory/GetNextVideoId',
                        method: 'POST',
                        data: { index: currentVideoIndex },
                        success: function (nextVideoId) {
                            // Обновите источник видео
                            $('.embed-responsive-item').attr('src', 'https://www.youtube.com/embed/' + nextVideoId);
                
                            // Обновите индекс и описание видео
                            currentVideoIndex++;
                            if (currentVideoIndex >= videos.length) {
                                currentVideoIndex = 0;
                            }
                            updateVideoDescription();
                        },
                        error: function () {
                            alert('Error! Could not get next video.');
                        }
                    });
            });
            
            $(".video-item").click(function () {
                            var index = $(this).data("index");
                            $(videos[currentVideoIndex]).hide();
                            currentVideoIndex = index;
                            $(videos[currentVideoIndex]).show();
                            updateVideoDescription();
                        });

            updateVideoDescription();
            var subcategoryId = $('[name="SubcategoryId"]').val();
            $.get("/Subcategory/Comments/" + subcategoryId, function(data) {
                $("#commentContainer").html(data);
            });

            // Code for comment form
            // Code for comment form
           $("#createCommentForm").on('submit', function (event) {
               event.preventDefault();
               var form = $(this);
               $.ajax({
                   url: form.attr("action"),
                   method: form.attr("method"),
                   data: form.serialize(),
                   xhrFields: {
                       withCredentials: true
                   },
                   success: function (data) {
                       console.log(data); // Log the response data
                       // Reload comments
                       $.get("/Subcategory/Comments/" + form.find('[name="SubcategoryId"]').val(), function(data) {
                           $("#commentContainer").html(data);
                       });
                       form[0].reset();
                   },
                   error: function () {
                       alert('Error! Could not submit form.');
                   }
               });
           });
           
           // Code for reply form
           $("#commentContainer").on('submit', '.createReplyForm', function (event) {
               event.preventDefault();
               var form = $(this);
               $.ajax({
                   url: form.attr("action"),
                   method: form.attr("method"),
                   data: form.serialize(),
                   xhrFields: {
                       withCredentials: true
                   },
                   success: function (data) {
                       console.log(data); // Log the response data
                       // Reload comments
                       $.get("/Subcategory/Comments/" + subcategoryId, function(data) {
                           $("#commentContainer").html(data);
                       });
                       form[0].reset();
                   },
                   error: function () {
                       alert('Error! Could not submit form.');
                   }
               });
           });
        });
    </script>
}
