@model IReadOnlyList<APP_LAWYER.DAL.Entities.Subcategory>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form action="@Url.Action("Create", "Subcategory", new { area = "Admin" })">
    <button type="submit" class="btn btn-primary">Создать подкатегорию</button>
</form>


<table class="table">
    <thead>
    <tr>
        <th>Имя подкатегории</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var subcategory in Model)
    {
        <tr>
            <td>@subcategory.Name</td>
            <td>@Html.Raw(subcategory.Description)</td>
            <td>
                <a href="@Url.Action("Update", "Subcategory", new { id = subcategory.Id })">Редактировать</a> |
                <a href="@Url.Action("Delete", "Subcategory", new { id = subcategory.Id })">Удалить</a>
                @* <a asp-area="Admin" asp-controller="Subcategory" asp-action="Delete" asp-route-id="@subcategory.Id">Удалить</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>