@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<table class="table">
    <thead>
    <tr>
        <th>Имя подкатегории</th>
        <th>Описание</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var documents in Model)
    {
        <tr>
            <td>@documents.Name</td>
            <td>@documents.Description</td>
            <td>
                <a href="@Url.Action("Update", "User", new { id = documents.Id })">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@documents.Id">Удалить</a>
                @* <a asp-area="Admin" asp-controller="Subcategory" asp-action="Delete" asp-route-id="@subcategory.Id">Удалить</a> *@
            </td>
        </tr>
    }
    </tbody>
</table>
